# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
android/.gradle/
android/.idea/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/
android/app/src/main/AndroidManifest.xml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Firebase
**/google-services.json
**/GoogleService-Info.plist

# VSCode
.vscode/

# IntelliJ / Android Studio
*.iml
.idea/
*.ipr
*.iws

# Logs & Misc
*.log
*.swp
*.pyc
*.tmp
.DS_Store
.history
buildlog/

# Node.js (Firebase Functions varsa)
functions/node_modules/
functions/.eslintcache

# Generated symbolication & map files
app.*.symbols
app.*.map.json
