rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /route_images/{allPaths=**} {
      // Herkesin okumasına izin ver (Sosyal akışta resimlerin görünmesi için)
      allow read: if true;
      
      // Yazma izni: Normalde 'if request.auth != null' istenir.
      // Eğer Firebase Auth kullanmıyorsan, sadece bu klasöre yazma izni verebilirsin:
      allow write: if true; 
    }
  }
}